<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Personaje</title>
</head>
<body>
    {% include "header.html" %}
    <h1>Personaje</h1>
        <table>
            <tr>
                <th>Nombre</th>
                <th>Status</th>
                <th>Especie</th>
                <th>Tipo</th>
                <th>Genero</th>
                <th>Origen</th>
                <th>Ubiacion</th>
                <th>Imagen</th>
                <th>Episodio</th>
            </tr>
            <tr>
                <td>{{list.name}}</td>
                <td>{{list.status}}</td>
                <td>{{list.species}}</td>
                <td>{{list.type}}</td>
                <td>{{list.gender}}</td>
                <td><a href="/location/{{list.origin.id}}">{{list.origin.name}}</a></td>
                <td><a href="/location/{{list.location.id}}">{{list.location.name}}</a></td>
                <td><img src="{{list.image}}" alt="{{list.name}}"></td>
                <td>
                    <table>
                        <tr>
                            {%for episodio in list.episodios_final%}
                                <td><a href="/episode/{{episodio.id}}">{{episodio.name}}</a></td>
                            {% endfor %}
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
</body>
</html>