<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Ubiacion</h1>
        <table>
            <tr>
                <th>Nombre</th>
                <th>Tipo</th>
                <th>Dimension</th>
                <th>Residentes</th>

            </tr>
            <tr>
                <td>{{list.name}}</td>
                <td>{{list.type}}</td>
                <td>{{list.dimension}}</td>
                <td>
                {%for personaje in list.personajes_final%}
                    <td><a href="/character/{{personaje.id}}">{{personaje.name}}</a></td>
                {% endfor %}
                </td>
            </tr>
        </table>
</body>
</html>